@charset "utf-8";

$fill: #68b6fd;

$url: '../images/lineChart/';
@mixin background(
  $name: '',
  $repeat: no-repeat,
  $pos-x: center,
  $pos-y: $pos-x,
  $size-w: 100%,
  $size-h: $size-w
) {
  background: url($url + $name) $repeat $pos-x $pos-y / $size-w $size-h;
}

//body {
//  @include background('bg.png', repeat, center, center, auto, auto);
//  background-color: #021238;
//  font-size: 12px;
//}

body {
  font-family: "helvetica";
}

* {
  user-select: none;
}

button {
  margin: 10px 0 0 10px;
  background-color: #f5f5f5;
  font-size: 12px;
  text-decoration: none;
  font-weight: bold;
  color: #565656;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  border: 1px solid #00AFEF;
  transition: background 2s,text-shadow 1s;
}

button:hover{
  background: #6db9ff;
  text-shadow: 0 0 1px #223344;
}

svg {
  position: relative;
  z-index: 1;
  cursor: crosshair;
  
  rect {
    fill: url("../images/lines-del.png");
  }
  
  image {
    cursor: pointer;
    opacity: 0.5;
    
    &:hover {
      opacity: 1;
    }
  }
  
  text {
    fill: #ffffff;
  }
}

.chart {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  
  &:before{
    position: absolute;
    content: '';
    background: url("../images/backgroung/bg1.jpg") no-repeat center / 100% 100%;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    
    -webkit-filter: blur(50px);
    -ms-filter: blur(50px);
    filter: blur(50px);
  }
  
}

#guide {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 0;
  
  background-image: linear-gradient(to bottom, #fff 50%, gray 0%),
  linear-gradient(to bottom, #fff 50%, gray 0%),
  linear-gradient(to right, #fff 50%, gray 0%),
  linear-gradient(to right, #fff 50%, gray 0%);
  background-position: 0 0, 100% 0, 0 0, 0 100%;
  background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
  background-size: 1px 10px, 1px 10px, 10px 1px, 10px 1px;
  animation: border 500ms linear infinite;
  text-align: center;
  
  input {
    position: relative;
    width: 92%;
    top: -28px;
    outline: none;
    height: 26px;
    line-height: 26px;
    font-size: 16px;
    text-align: center;
    border: none;
    box-shadow: 0 0 3px 1px blue;
    display: none;
    z-index: 1000;
  }
}

@keyframes border {
  0% {
    background-position: 0 -5px, 100% -5px, -5px 0, -5px 100%;
  }
  
  100% {
    background-position: 0 5px, 100% 5px, 5px 0, 5px 100%;
  }
}

.box {
  width: 200px;
  height: 200px;
  margin: 40px;
  float: left;
  text-align: center;
  border: #969696 solid thin;
  padding: 5px;
}

.red {
  background-color: #e9967a;
  color: #f0f8ff;
}

.blue {
  background-color: #add8e6;
  color: #f0f8ff;
}

.cell {
  min-width: 40px;
  min-height: 20px;
  margin: 5px;
  float: left;
  text-align: center;
  border: #969696 solid thin;
  padding: 5px;
}

.fixed-cell {
  min-width: 40px;
  min-height: 20px;
  margin: 5px;
  position: fixed;
  text-align: center;
  border: #969696 solid thin;
  padding: 5px;
}

.h-bar {
  min-height: 15px;
  min-width: 10px;
  background-color: steelblue;
  margin-bottom: 2px;
  font-size: 11px;
  color: #f0f8ff;
  text-align: right;
  padding-right: 2px;
}

.v-bar {
  min-height: 1px;
  min-width: 30px;
  background-color: #4682b4;
  margin-right: 2px;
  font-size: 10px;
  color: #f0f8ff;
  text-align: center;
  width: 10px;
  display: inline-block;
}

.baseline {
  height: 1px;
  background-color: gray;
}

.clear {
  clear: both;
}

.selected {
  background-color: #f08080;
}

.control-group {
  padding-top: 10px;
  margin: 10px;
}

.table {
  width: 70%;
}

.table td, th {
  padding: 5px;
}

.table-header {
  background-color: #00AFEF;
  font-weight: bold;
}

.table-row-odd {
  background-color: #f0f8ff;
}

.table-row-odd {
  background-color: #d3d3d3;
}

.code {
  display: inline-block;
  font-style: italic;
  background-color: #d3d3d3;
  border: #969696 solid thin;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.countdown {
  width: 150px;
  height: 150px;
  font-size: 5em;
  font-weight: bold;
}

.axis path, .axis line {
  fill: none;
  stroke: #gray;
  shape-rendering: crispEdges;
}

.axis text {
  font: 10px sans-serif;
}

.axis .grid-line {
  stroke: gray;
  shape-rendering: crispEdges;
  stroke-opacity: .2;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 2;
}

.dot {
  fill: #fff;
  stroke: steelblue;
}

.area {
  stroke: none;
  fill: steelblue;
  fill-opacity: .2;
}

.pie text {
  fill: white;
  font-weight: bold;
}

.circle {
  stroke: none;
  fill: red;
  fill-opacity: .7;
}

.cross {
  stroke: none;
  fill: blue;
  fill-opacity: .7;
}

.diamond {
  stroke: none;
  fill: green;
  fill-opacity: .7;
}

.square {
  stroke: none;
  fill: yellow;
  fill-opacity: .7;
}

.triangle-down {
  stroke: none;
  fill: blueviolet;
  fill-opacity: .7;
}

.triangle-up {
  stroke: none;
  fill: darkred;
  fill-opacity: .7;
}

.bubble {
  fill-opacity: .3;
}

.bar {
  stroke: none;
  fill: steelblue;
}
